* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr;
    height: 3.4rem;
}

.yt-logo {
    width: 6.2rem;
    height: 1.5rem;
    padding-right: 6.2rem;
}

.btn {
    margin-left: 4rem;
    margin-right: 1rem;
}


.btn-logo {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-input {
    width: 35rem;
    height: 2rem;
    border: 2px solid gainsboro;
    border-right: transparent;
    border-radius: 1.25rem 0 0 1.25rem;
    padding-left: 1.25rem;
    margin-right: 0;
}

.index-input:focus {
    outline: 1px #4285F4;
    border: 2px solid #4285F4;
}

.index-input:focus::placeholder {
    background-image: url(./img/search.png);
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 1.5rem;
}

.user-menu {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.btn-yt {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0;
    margin: 0;
}

.btn-yt:hover {
    background-color: gainsboro;
    border-radius: 50%;
    cursor: pointer;
}

.btn-search {
    display: flex;
    margin: 0;
    width: 4rem;
    height: 2rem;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 0 1.25rem 1.25rem 0;
    padding: 1.06rem;
    align-items: center;
}

.btn-search:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}


.mic {
    margin-left: 0.5rem;
}

.avatar-menu {
    display: grid;
    background-color: white;
    grid-template-rows: repeat(15, 1fr);
    position: absolute;
    top: 1rem;
    right: 4rem;
    width: 20rem;
    height: 30rem;
    border-radius: 0.6rem;
    border: 1px solid rgb(223, 223, 223);
    visibility: hidden;
}

.avatar {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
}

.avatar2 {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.info-avatar {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.row {
    display: flex;
    justify-content: flex-start;
    height: 2.28rem;
    padding-left: 0.6rem;
    align-items: center;
    gap: 1.5rem;
}

.row:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

.avatar-img {
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.info-user {
    display: flex;
    flex-direction: column;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.6rem;
}

.video-menu {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 5rem;
    width: 13rem;
    background-color: white;
    position: absolute;
    top: 3rem;
    right: 9rem;
    border-radius: 0.6rem;
    border: 1px solid rgb(223, 223, 223);
    padding-top: 0.4rem;
    visibility: hidden;
}

#link a {
    color: #4285F4;
}

.avatar-menu a,
.avatar-menu a:link,
.avatar-menu a:visited,
.avatar-menu a:active {
    text-decoration: none;
    color: black;
}

.notification-menu {
    display: grid;
    grid-template-rows: 1fr 11fr;
    height: 32rem;
    width: 30rem;
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 8rem;
    border-radius: 0.6rem;
    border: 1px solid rgb(223, 223, 223);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    visibility: hidden;
}

.video-menu a,
.video-menu a:link,
.video-menu a:visited,
.video-menu a:active {
    text-decoration: none;
    color: black;
}

.ntf-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.ntf-body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noti-size {
    width: 9rem;
    height: 9rem;
    color: rgb(160, 160, 160);
}

img+h4 {
    color: rgb(136, 136, 136);
    margin: 0;
}

h4+p {
    color: rgb(136, 136, 136);
}

.a-right {
    align-self: center;
    justify-self: right;
}

.line {
    border-top: 1px solid rgb(204, 204, 204);
}

.name {
    text-align: left;
}

.menu-rows {
    height: 23rem;
    overflow-y: scroll;
}

.menu-rows::-webkit-scrollbar {
    width: 0.4rem;
}

.menu-rows::-webkit-scrollbar-track {
    background: transparent
}

.menu-rows::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border-radius: 20px;
}

.active {
    visibility: visible;
}